@import './CssComponents/BudgetCard.css';
@import './CssComponents/AddBudgetModal.css';
@import './CssComponents/NaveBare.css';
@import './CssComponents/Params.css';
@import './CssComponents/TotalBudgetCard.css';
@import './CssComponents/UncategorizedBudgetCard.css';
@import './CssComponents/ViewExpenseModal.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{


    .screen{@apply
        bg-slate-50

        
    }
}



section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 870px;
  background-color: rgb(190, 186, 186);
  border-radius: 40px;
}
.frame{
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 860px;
  background-color: rgb(8, 8, 8);
  border-radius: 40px;
  overflow: hidden;
}
.screen{
  border-radius: 40px;
  width: 390px;
  height: 844px;
  background-color: #5eb6dfb9;
  
  @apply flex flex-col overflow-hidden;
}

.screen article {
  max-height: calc(100vh - 100px - 48px) !important;
  overflow: auto;
}

.device{
  margin: 0.3rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color:black;
  font-size: 0.9rem;
}

.face{
  margin-right: 1rem;
  margin-top: 0.9rem;
  width: 7rem;
  height: 2rem;
  background-color: black;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.eyes{
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.5rem;
  height: 10px;
  background-color:rgba(27, 113, 153, 0.534);
  border-radius: 50%;
  
}

.material-symbols-rounded, 
.material-symbols-rounded, 
.material-symbols-rounded {
  font-size: 1.2rem;
}

